[mysqld]
basedir                         = /usr
bind_address                    = *
datadir                         = /var/lib/mysql
max_allowed_packet              = 256M
max_connect_errors              = 1000000
pid_file                        = /run/mysqld/mysqld.pid
port                            = 3306
socket                          = /run/mysqld/mysqld.sock
tmpdir                          = /tmp
user                            = mysql